<?xml version="1.0"?>
<launch>
    <rosparam file="$(find team5_ros_package)/config/exploration.yaml" command="load" />

    <!-- Launch smb -->
    <include file="$(find smb)/launch/smb.launch" >
        <!-- <param name="world" value="epeisses_indoors"/> -->
    </include>

    <!-- Launch SLAM -->
    <include file="$(find smb_msf_graph)/launch/smb_msf_graph.launch" />

    <!-- ############# Features  ############# -->

    <!-- Launch Local planner and path follower -->
    <include file="$(find smb_navigation)/launch/navigate2d_cmu.launch" >
        <param name="use_msf" value="true"/> 
        <param name="global_frame" value="world_graph_msf"/>
        <param name="state_estimation_topic" value="/transformed_odom"/>
        <param name="launch_far_planner" value="true"/>
    </include>

    <!-- Launch TARE Planner -->
    <include file="$(find smb_exploration)/launch/cmu/smb_rss_tare.launch" >
        <param name="rviz" value="false"/>
    </include>

    <!-- Launch Object Detection -->
    <include file="$(find object_detection)/launch/object_detection.launch" >
        <!-- <arg name="gpu" value="off"/> -->
        <arg name="model" value="yolov5l6"/>
        <param name="object_detection_classes" value="[0,1,2,10]"/>
    </include>

    <!-- Saving Map -->
    <node name="detection_saver" pkg="team5_ros_package" type="detection_saver.py" output="screen"/>
</launch>