<?xml version="1.0"?>
<launch>
    <rosparam file="$(find team5_ros_package)/config/exploration.yaml" command="load" />

    <!-- Launch smb -->
    <include file="$(find smb)/launch/smb.launch" >
        <!-- <param name="world" value="epeisses_indoors"/> -->
    </include>

    <!-- Launch SLAM -->
    <include file="$(find smb_msf_graph)/launch/smb_msf_graph.launch" >
        <param name="use_sim_time" value="$(arg use_sim_time)"/>
    </include>

    <!-- ############# Features  ############# -->

</launch>