<launch>
    <rosparam file="$(find team5_ros_package)/config/exploration.yaml" command="load" />

    <!-- Launch simulation -->
    <include file="$(find smb_gazebo)/launch/sim.launch" >
        <!-- <arg name="world" value="epeisses_indoors"/> -->
    </include>
    
    <!-- Launch SLAM -->
    <include file="$(find smb_msf_graph)/launch/smb_msf_graph.launch" >
        <param name="use_sim_time" value="$(arg use_sim_time)"/>
    </include>

    <!-- Launch Local planner and path follower -->
    <include file="$(find smb_navigation)/launch/navigate2d_cmu.launch" >
        <param name="use_msf" value="$(arg use_msf)"/>
        <param name="global_frame" value="$(arg global_frame)"/>
        <param name="state_estimation_topic" value="$(arg state_estimation_topic)"/>
        <param name="launch_far_planner" value="$(arg launch_far_planner)"/>
    </include>

    <!-- Launch TARE Planner -->
    <include file="$(find smb_exploration)/launch/cmu/smb_rss_tare.launch" >
        <param name="rviz" value="$(arg rviz)"/>
    </include>

    <!-- Launch Object Detection -->
    <!-- <include file="$(find object_detection)/launch/object_detection.launch" >
        <arg name="gpu" value="off"/>
        <arg name="model" value="yolov5l6"/>
    </include> -->
</launch>