<?xml version="1.0"?>
<launch>
    <rosparam file="$(find team5_ros_package)/config/exploration.yaml" command="load" />

    <!-- Launch simulation -->
    <include file="$(find smb_gazebo)/launch/sim.launch" >
        <!-- <arg name="world" value="epeisses_indoors"/> -->
    </include>

    <!-- Launch SLAM -->
    <include file="$(find smb_msf_graph)/launch/smb_msf_graph.launch" >
        <param name="use_sim_time" value="$(arg use_sim_time)"/>
    </include>

    <!-- ############# Features  ############# -->

    <!-- Launch Object Detection -->
    <include file="$(find object_detection)/launch/object_detection.launch">
        <arg name="gpu" value="off"/>
        <arg name="model" value="yolov5l6"/>
    </include>

    <!-- Saving Map -->
    <node name="detection_saver" pkg="team5_ros_package" type="detection_saver.py" output="screen"/>
</launch>